<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>303627576636-3c1deeqc84ne9g5882fals21qjdf0jtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303627576636-3c1deeqc84ne9g5882fals21qjdf0jtv</string>
	<key>API_KEY</key>
	<string>AIzaSyDK3Bi_Jk6Kpg7EhrtGDOidiXpNf93qXp4</string>
	<key>GCM_SENDER_ID</key>
	<string>303627576636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easygate.egrowapp001</string>
	<key>PROJECT_ID</key>
	<string>easygate-9cf24</string>
	<key>STORAGE_BUCKET</key>
	<string>easygate-9cf24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303627576636:ios:c9e8eb293ebad34b</string>
	<key>DATABASE_URL</key>
	<string>https://easygate-9cf24.firebaseio.com</string>
</dict>
</plist>